@import './stylesheets/base/reset.css';
@import './stylesheets/base/variables';
@import './stylesheets/base/type';
@import './stylesheets/animated-circles';
@import './stylesheets/navbar';
@import './stylesheets/hero';
@import './stylesheets/what-we-do';
@import './stylesheets/button';

section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
