$nav-bg: #2D374F;
$nav-text-color: #FFF;

nav {
  position: fixed;
  top: 0;
  left: 0;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
}

.nav-links {
  vertical-align: middle;
  background: lighten($nav-bg, 20);
  width: 100vw;
  color: $nav-text-color;
  font-family: sans-serif;
  line-height: 60px;
  text-align: center;
  border-left: 0 solid $nav-text-color;
  transition-property: margin, border, background;
  transition-duration: .4s;
  cursor: pointer;
  margin-top: -300px;
  z-index: 0;

  &.active {
    margin-top: 0;
  }

  &:hover {
    border-left-width: 20px;
    background: lighten($nav-bg, 30);
  }
}



.brand {
  background: $nav-bg;
  width: 100vw;
  text-align: center;
  z-index: 1;
}

.logo {
  margin: 15px 0;
  max-height: 30px;
  vertical-align: middle;
}

.logo-dark {
  display: none;
}

.nav-burger {
  line-height: 25px;
  font-size: 25px;
  color: $nav-text-color;
  vertical-align: middle;
  position: absolute;
  right: 17.5px;
  cursor: pointer;
  margin: 17.5px 0;
}
