$nav-mobile-bg: #2D374F;
$nav-full-bg: #FFF;
$nav-full-bg-transparent: rgba($nav-full-bg, 0);
$nav-mobile-text: #FFF;
$nav-full-text: #2D374F;

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
}

.nav-links {
  vertical-align: middle;
  background: lighten($nav-mobile-bg, 20);
  width: 100vw;
  color: $nav-mobile-text;
  line-height: 30px;
  padding: 15px 0;
  text-align: center;
  border-left: 0 solid $nav-mobile-text;
  transition-property: opacity, margin, border, background;
  transition-duration: .4s;
  cursor: pointer;
  font-family: 'Museo';
  font-weight: 300;
  margin: -300px 0 0;
  opacity: 0;
  z-index: 0;

  @media screen and (max-width: 699px) {
    &.active {
      margin-top: 0;
      opacity: 1;
    }

    &:hover {
      border-left-width: 20px;
      background: lighten($nav-mobile-bg, 30);
    }
  }
}

.brand {
  background: $nav-mobile-bg;
  width: 100vw;
  text-align: center;
  z-index: 1;
}

.logo {
  margin: 15px 0;
  max-height: 30px;
  vertical-align: middle;

  &-dark {
    display: none;
  }
}

.nav-burger {
  line-height: 25px;
  font-size: 25px;
  color: $nav-mobile-text;
  vertical-align: middle;
  position: absolute;
  right: 17.5px;
  cursor: pointer;
  margin: 17.5px 0;
}

//  Desktop navbar styling

@media screen and (min-width: 700px) {
  nav {
    transition: background 1s;
    background: linear-gradient(to bottom, $nav-full-bg 40%, $nav-full-bg-transparent 100%);
    height: 150px;

    > ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
  }

  .logo {
    float: left;

    &-dark {
      display: unset;
    }

    &-light {
      display: none;
    }
  }

  .brand {
    background: none;
    width: 20vw;
    position: absolute;
    left: 2vw;
  }

  .nav-links {
    background: none;
    color: $nav-full-text;
    margin: 15px 1vw;
    font-size: .7em;
    padding: 0;
    opacity: 1;
    width: unset;
    transition: box-shadow .5s;
    z-index: 10;

    &:last-child {
      margin-right: 2vw;
    }

    &:after {
      display: block;
      content: '';
      border-bottom: solid 3px $nav-full-text;
      transform: scaleX(.0001);
      transition: transform 250ms ease-in-out;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }

  .nav-burger {
    display: none;
  }
}
