
// The below 2 mixins were written by Jonathan T Neal (github.com/jonathantneal)
// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// *edited to match styleguide

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff otf ttf svg) {
  $src: null;
  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_')
  );
  $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face('Museo', fonts/Museo-100, 100, normal, woff2 woff otf)
@include font-face('Museo', fonts/Museo-300, 300, normal, woff2 woff otf)
@include font-face('Museo', fonts/Museo-500, 500, normal, woff2 woff otf)
@include font-face('Museo', fonts/Museo-700, 700, normal, woff2 woff otf)
@include font-face('Museo', fonts/Museo-500, 100, normal, woff2 woff otf)
@include font-face('Museo', fonts/Museo-Sans-500, 500, normal, woff2 woff otf)
